<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template1">
<meta charset="UTF-8" />
<head>

</head>
<body >
<div layout:fragment="content" >
      
      
      <div class="container">
         <div class="card-body" align="center" style="color:black;margin-top:100px;" ><br/>
        <div align="center" style="color:black;padding:50px;background-color:#98BDC0" ><marquee behavior="scroll" direction="left" scrollamount="10"> 
        <h1>Bienvenue dans Ma Banque</h1><br/> 
        </marquee><h2>la banque d'avenir</h2></div>
         <br/><br/><br/>
        <div align="left" style="color:black" > <p> Une banque en ligne est une banque où tout se passe en ligne c’est-à-dire entièrement 
        sur Internet à l'inverse des banques dites de réseau (avec agences). Tous les services bancaires sont dématérialisés et il n’y 
        a aucune agence physique. En plein essor depuis quelques années, elles sont chaque jour de plus en plus à offrir une gamme de produits 
        comparable à celle des banques traditionnelles : ouverture du compte bancaire, paiement mobile, crédits, opérations en bourse, assurances
		ou encore produits d’épargne, etc.<br/>L’énorme avantage d'une banque en ligne par rapport à une banque traditionnelle : ses tarifs 
		(carte bancaire gratuite, aucun frais de tenue de compte, opérations courantes gratuites). La gestion des opérations bancaires est également 
		simple puisque vous pouvez via une application accéder à votre compte sur internet et gérer directement vos virements, votre demande de carte 
		bancaire, etc. Application qui fonctionne aussi bien sous Android que sous IOS. 	
		Très souvent les banques en ligne vous feront d’ailleurs bénéficier d’une offre de bienvenue.</p><br/><br/><br/>

</div></div> 
	</div>
	</div>
</body>
</html>